<nav class="navbar navbar-light bg-faded">
  <h4>Pages Edit</h4>
</nav>

<p style="margin: 20px 0">
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'btn btn-secondary back-link') %>
</p>


<div class="row">
  <h4>Edit a Page</h4>

<%= form_for(:page, :url => {:action => 'update', :id => @page.id }) do |f| %>
  <fieldset class="form-group">
    <%= label_tag(:subject_id, "Subject ID:") %>
    <%= f.text_field(:subject_id, class: 'form-control') %>
  </fieldset>
  <fieldset class="form-group">
    <%= label_tag(:name, "Name:") %>
    <%= f.text_field(:name, class: 'form-control') %>
  </fieldset>
  <fieldset class="form-group">
    <%= label_tag(:permalink, "Permalink:") %>
    <%= f.text_field(:permalink, class: 'form-control') %>
  </fieldset>
  <fieldset class="form-group">
    <%= label_tag(:position, "Position:") %>
    <%= f.text_field(:position, class: 'form-control') %>
  </fieldset>
  <fieldset class="form-group">
    <%= label_tag(:name, "Visible:") %>
    <%= f.text_field(:visible, class: 'form-control') %>
  </fieldset>
    <%= submit_tag("Create Subject", class: "btn btn-primary")%>
<% end %>

</div>
