<% @page_title = 'Subjects' %>
<nav class="navbar navbar-light bg-faded">
  <h3>Subjects</h3>
</nav>
<div>
  <%= link_to("<< Back to Admin Area", {:controller => 'access', :action => 'index'}, :class => "btn btn-secondary action new") %>
</div>
<div>
  <%= link_to("Add New Subject", {:action => 'new'}, :class => "btn btn-secondary action new") %>
</div>

<div class="card card-inverse card-primary text-xs-center">
  <div class="card-block">
    <div class="card-blockquote"><%= pluralize(@subjects.size, 'Subject') %> found</div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Visible</th>
      <th>Page Size</th>
      <th></th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
        <tr>
          <th scope="row"><%= subject.name %></th>
          <td><%= subject.position %></td>
          <td><%= status_tag(subject.visible) %></td>
          <td><%= subject.pages.size %></td>
          <td><%= link_to("View Pages", {:controller => 'pages', :subject_id => subject.id}, :class => "action show") %></td>
          <td><%= link_to("Show", {:action => 'show', :id => subject.id}, :class => "action show") %></td>
          <td><%= link_to("Edit", {:action => 'edit', :id => subject.id}, :class => "action edit") %></td>
          <td><%= link_to("Delete", {:action => 'delete', :id => subject.id}, :class => "action delete") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
